*-
*.OLD
*.cache
*.gpg
*~
__pycache__/

/etc/.*
/etc/adjtime
/etc/ca-certificates/extracted/
/etc/crypttab
/etc/fonts/conf.d
/etc/fstab
/etc/gshadow
/etc/hostname
/etc/locale.conf
/etc/localtime
/etc/machine-id
/etc/mkinitcpio.d/linux.preset
/etc/os-release
/etc/pacman.d/gnupg/
/etc/pacman.d/mirrorlist
/etc/resolv.conf
/etc/shadow
/etc/shells
/etc/ssl/certs/
/etc/subgid
/etc/subuid
/etc/sudoers
/etc/systemd/**/*.service
/etc/systemd/**/*.socket
/etc/systemd/**/*.target
/etc/tuned/
/etc/vconsole.conf

!/etc/systemd/**/my-*.service
